body {
	background-color: rgb(233,233,233);
	font-family: "Helvetica Neue","Helvetica","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック",arial,sans-serif;
	margin: 0px;
	padding: 0px;
}

@media (min-width: 800px) {
	.content, .header-body {
		width: 750px;
	}
}

@media (min-width: 1050px) {
	.content, .header-body {
		width: 1000px;
	}
}

@media (min-width: 1300px) {
	.content, .header-body {
		width: 1250px;
	}
}

/*		App Style 		*/

.header {
	background-color: #fff;
	webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	padding: 5px 20px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.header-body {
	margin: 5px auto;
}

.header-right {
	float: right;
}

.header-logo {
	height: 30px;
}

.content {
	margin: 70px auto;
	text-align: center;
}

.content-header {
	color: rgb(60,60,60);
	font-size: 26px;
	text-align: center;
}

.login {
	background-color: white;
	background-image: url(../resources/login-background.jpg);
	background-size: cover;
	border: 1px solid rgba(100,100,100,.2);
	border-radius: 6px;
	height: 350px;
	margin: 120px auto;
	padding: 10px;
	width: 600px;
}

.login .content-header {
	color: white;
	font-size: 27px;
	font-weight: 500;
	letter-spacing: -1px;
	margin-top: 30px;
	text-shadow: 0 2px 6px rgba(0,0,0,0.58);
}

.login .content-subheader {
	color: white;
	font-size: 17px;
	text-shadow: 0 2px 6px rgba(0,0,0,0.58);
	padding-bottom: 15px;
}

.login-button {
	background-image: linear-gradient(#e3262e, #ab171e);
	border-bottom-color: #820a0f;
	border-left-color: #9a1015;
	border-right-color: #9a1015;
	border-top-color: #af151b;
	border-style: solid;
	border-width: 1px;
	color: white;
	cursor: pointer;
	font-size: 16px;
	height: 40px;
	margin-top: 70px;
	text-shadow: 0 -1px rgba(0,0,0,0.11);
	width: 150px;
}

.login-button:hover {
	background-image: linear-gradient(#e3262e, #ab171e);
}

.login-error {
	color: white;
	margin-top: 10px;
	text-shadow: 0 2px 6px rgba(0,0,0,0.58);
}

.boards {
	text-align: left;
	width: auto;
}

.board {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left center;
	border-radius: 8px;
	color: #fff;
	display: inline-block;
	height: 236px;
	margin: 14px 7px 0;
	position: relative;
	width: 236px;
}

.board:before {
	background-color: rgba(10,10,10,.7);
	border-radius: 8px;
	bottom: 0;
	content: '';
	left: 0;
	right: 0;
	position: absolute;
	top: 0;
}

.board:hover:before {
	background-color: rgba(10,10,10,.4);
}

.board div {
	font-size: 24px;
	left: 0;
	letter-spacing: 1px;
	line-height: 25px;
	position: absolute;
	right: 0;
	top: 40%;
}

.pins {
	transition: opacity 1s;
	width: 100%;
}

.pins .pin-save {
	background-color: transparent;
	border: 2px dashed #bbb;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #bbb;
	font-size: 15px;
	height: 284px;
	text-align: center;
	width: 232px;
}

.pin-save:hover {
	background-color: rgba(100,100,100,.2);
	border: 2px dashed #888;
	color: #888;
}

.pin-save i {
	background: #ececec;
	border: 1px solid #cfcfcf;
	border-radius: 50%;
	bottom: 50%;
	-webkit-box-shadow: 0 0 2px #fff inset;
	box-shadow: 0 0 2px #fff inset;
	height: 44px;
	left: 50%;
	margin-left: -22px;
	margin-bottom: -8px;
	position: absolute;
	width: 44px;
}

.pin-save i:after {
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	content: '+';
	display: block;
	font-family: sans-serif;
	font-size: 31px;
	font-weight: bolder;
	line-height: 31px;
	font-style: normal;
	position: absolute;
	top: 6px;
	text-align: center;
}

.pin-save span {
	color: #888;
	left: 0;
	margin-top: 18px;
	position: absolute;
	right: 0;
	top: 50%;
}

.loading-wrapper {
	background-color: rgba(20,20,20, .8);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 2000;
}

.loading-wrapper div {
	color: white;
	font-size: 36px;
	letter-spacing: 1px;
	margin-top: 250px;
}

.loader {
	-webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -ms-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;

    height: 80px;
    margin-top: 10px;
    width: 80px;
}

@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
    to { -ms-transform: rotate(360deg); }
}

@-o-keyframes spin {
    to { -o-transform: rotate(360deg); }
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

/*		Utility Classes		*/

.u-pointer:hover {
	cursor: pointer;
}

.u-inline {
	display: inline-block;
}

.u-center {
	text-align: center;
}

.u-invisible {
	visibility: hidden;
}