.login {
    background-color: white;
    background-image: url(/resources/login-background.jpg);
    background-size: cover;
    border: 1px solid rgba(100,100,100,.2);
    border-radius: 6px;
    height: 350px;
    margin: 120px auto;
    padding: 10px;
    width: 600px;
}

.login .content-header {
    color: white;
    font-size: 27px;
    font-weight: 500;
    letter-spacing: -1px;
    margin-top: 30px;
    text-shadow: 0 2px 6px rgba(0,0,0,0.58);
}

.login .content-subheader {
    color: white;
    font-size: 17px;
    text-shadow: 0 2px 6px rgba(0,0,0,0.58);
    padding-bottom: 15px;
}

.login-button {
    background-image: linear-gradient(#e3262e, #ab171e);
    border-bottom-color: #820a0f;
    border-left-color: #9a1015;
    border-right-color: #9a1015;
    border-top-color: #af151b;
    border-style: solid;
    border-width: 1px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    margin-top: 70px;
    text-shadow: 0 -1px rgba(0,0,0,0.11);
    width: 150px;
}

.login-button:hover {
    background-image: linear-gradient(#e3262e, #ab171e);
}

.login-error {
    color: white;
    margin-top: 10px;
    text-shadow: 0 2px 6px rgba(0,0,0,0.58);
}